#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-image: url('https://images.unsplash.com/photo-1501504905252-473c47e087f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1374&q=80'); 
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 10px 0; 
  color: white;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 100; 
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  margin: 0 10px; 
}

.navbar a:last-child {
  margin-right: 0;
}

.navbar a:hover {
  color: orange;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  min-height: calc(100vh - 60px); 
}

.todo-list {
  flex: 1;
  padding: 40px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 400px;
}

